body {
  font-family: 'Open Sans', sans-serif;
  background-color: #7EABA6 !important;
}


.navbar-toggle {
  position: relative;
  z-index: 2;
}

.signin-signup-buttons {

  position: relative;
  top: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;

}
